body, html
{
	background: #1D1D1D;
	color: #FFF;
	font-family: Helvetica, Arial;
	font-size: 16px;
	text-align: center;
}

*, *:before, *:after { box-sizing: border-box; }

a { color: #80BD01; }

a:hover { color: rgba(128,189,1,.5); }

input
{
	border: 0;
	padding: .5rem;
}

input[type="url"] { width: 50%; }

input[type="submit"]
{
	background-color: #80BD01;	
	color: #FFF;
	cursor: pointer;
}

input[type="submit"]:hover
{
	background-color: rgba(128,189,1,.75);
}

#logo
{
	background: url("../img/nodejs-monitor.png") no-repeat center;
	background-size: contain;
	display: block;
	height: 150px;
	margin: 1rem auto;
	width: 450px;
}

.container
{
	font-size: 0;
	margin: auto;
	width: 100%;
}

.col-5
{
	display: inline-block;
	font-size: .75rem;
	vertical-align: top;
	width: 20%;
}

.error
{
	background-color: #303030;
	color: #80BD01;
	display: block;
	font-size: .75rem;
	margin: auto;
	overflow-x: scroll;
	padding: 1rem;
	text-align: left;
	width: 90%;
}