extends layout

block content
	section.container
		div#logo
		h1
			a(href="/")=title
		article.article
			form.form(method="post", action="/signin")
				fieldset
					div
						label(for="username") Usuario:
						input#username(type="text", name="username", required)
					div
						label(for="password") Password:
						input#password(type="password", name="password", required)
					div
						input.button.add(type="submit", value="Registrarse")
			
			a(href="/login") Loguearse