*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html { font: 16px Helvetica, Arial; }

#chat-form
{
	background: #1D1D1D;
	bottom: 0;
	padding: .5rem;
	position: fixed;
	width: 100%;
}

#chat-form button
{
	background: #80BD01;
	border: none;
	padding: .5rem;
	width: 10%;
}

#message-txt
{
	border: 0;
	padding: .5rem;
	width:90%;
}

#chat { list-style-type: none; }

#chat li { background: #EEE; padding: .5rem; }

#chat li:nth-child(odd) { background: #DDD; }