extends layout

block content
	h1=title
	form(method="get" action="/scrape")
		label(for="movie") Ingresa url de película:
		input(type="url" name="movie" id="movie")
		input(type="submit" value="Enviar")