//http://stackoverflow.com/questions/7666977/syntax-highlighting-for-jade-in-sublime-text-2
//https://github.com/miksago/jade-tmbundle
//http://tecnato.com/automatizando-jade-y-stylus/
doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title=title
		link(rel="stylesheet" href="/css/estilos.css")
	body
		block content